#main{
	text-align: center;
}

#app{
	height: 100vh;
	width: 100vw;
}

#fimage{
	margin-top: 15px;
}

.maintitle{
	margin-top: 60px;
	font-size: 2em;
	line-height: 1.3em;
}

#bottom-bar{
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0px;
	z-index: 999;
}

#bottom-bar>md-bottom-bar{
	width: 100vw;
	display: inline-block;
}

md-bottom-bar-item{
	width: 33vw;
}

#searchfield{
	height: 70px;
	overflow: hidden;
	margin-top: 20px;
	width: 100%;
	display: inline-block;
}

#searchfield>.search{
	margin: auto;
	margin-top: 16px;
	display: inline-block;
}

#searchfield>.md-field{
	width: 50%;
	margin: auto;
	display: inline-block;
}

#popularmovies{
	text-align: left;
	margin-top: 20vh;
}

#popularmovies>p{
	margin: 2px;
	margin-left: 6px;
}

#popularlist{
	text-align: center;
	width: auto;
	height: 220px;
	overflow: auto;
	white-space: nowrap;
	margin-bottom: 50px;
}

#popularlist>.md-card{
	vertical-align: top;
	display: inline-block;
	width: 110px;
	height: 210px;
	margin-left: 3px;
	margin-right: 2px;
}
#popularlist .md-title{
	max-height: 37px;
	height: auto;
	white-space: pre-wrap;
	display: inline-block;
	vertical-align: middle;
	text-overflow: ellipsis;
	font-size: 14px;
	line-height: 18px;
	margin: auto;
	margin-top: 3px;
}

#popularlist .md-card-header{
	padding: 2px;
}

#backdrop{
	position: fixed;
	top: 0px;
	width: 100%;
	max-width: 700px;
	display: block;
	margin: auto;
	z-index: -100;
	height: 200px;
	background-repeat: no-repeat;
    background-size: cover;
}

#maindata{
	position: absolute;
	width: 100%;
	background: #fff;
	max-width: 700px;
	top: 200px;
	margin: auto;
	display: block;
}

.favbutton{
	margin-top: -27px;
	float: right;
	margin-right: 10%;
	z-index: 1000;
}

#poster{
	width: 30%;
	height: auto;
	float: left;
	margin-left: 5%;
	margin-top: 10px;
}

#lateral{
	width: 60%;
	right: 0px;
	float: right;
	text-align: left;
}

#title{
	margin-top: 2px;
}


#genres{
	width: 100%;
	padding: 15px;
	right: 0px;
	clear: both;
	text-align: center;
}

.md-chip{
	margin-bottom: 5px;
	margin-left: 5px;
}

#overview{
	clear: both;
	padding-top: 0px;
	text-align: left;
	margin: 15px;
	margin-top: 0px;
	margin-bottom: 60px
}

@media screen and (min-width: 450px){
	#genres{
		width: 60%;
		right: 0px;
		padding: 0px;
		float: right;
		clear: none;
		text-align: left;
	}
	#overview{
		padding-top: 15px;
		margin-top: 15px;
	}
}

#favlist{
	width: 100vw;
	height: auto;
}

#favs{
	width: 100vw;
	margin-bottom: 70px;
}

#favs .favmovie{
	width: auto;
	height: 210px;
	margin: 0px;
	padding: 0px;
	display: inline-block;
	vertical-align: top;
	margin: 7px 1vw 5px 1vw;
	text-align: center;
}

.favmovie .md-card-media{
	width: 31vw;
	max-height: 190px;
}

.none{
	margin-top: 30vh;
	margin-left: 20vw;
}

.spinner{
	margin-top: 20vh;
	position: fixed;
	top: 30vw;
	margin: auto;
	margin-left: -30px;
}

/*.resultdiv .md-card{
	vertical-align: top;
	display: inline-block;
	width: auto;
	height: 210px;
	margin-left: 1vw;
	margin-right: 1vw;
	margin-top: 10px;
}*/

.mtitle{
	max-height: 37px;
	height: auto;
	white-space: pre-wrap;
	display: inline-block;
	vertical-align: middle;
	text-overflow: ellipsis;
	font-size: 14px !important;
	line-height: 18px !important;
	margin: auto;
	margin-top: 3px !important;
	max-width: 25vw !important;
}

#favs .md-card-header{
	padding: 2px;
	text-align: center;
}

.md-dialog{
	max-width: 90vw;
	height: auto;
	display: block;
	margin: auto;
}
.md-dialog .md-button{
	width: 90%;
	display: block;
	margin-left: 5%;
}

#textres{
	width: 100%;
	height: auto;
}

/*#textres .md-card{
	vertical-align: top;
	display: inline-block;
	width: 31vw;
	height: auto;
	margin-left: 1vw;
	margin-right: 1vw;
	margin-top: 10px;
}*/

/*#textres .mtitle{
	max-height: 37px;
	height: auto;
	white-space: pre-wrap;
	display: inline-block;
	vertical-align: middle;
	text-overflow: ellipsis;
	font-size: 14px;
	line-height: 18px;
	margin: auto;
	margin-top: 3px;
}*/

/*#textres .md-card-header{
	padding: 2px;
	text-align: center;
}*/

.resultdiv{
	text-align: left;
	margin-left: 2vw;
}

#map{
	height: 90vh;
	width: 100%;
	position: relative;
	background-color: #445;
}

#mapcontainer{
	background-color: #445;
}

.choosedialog{
	height: 170px !important;
	margin: auto !important;
}